/*头部*/
.header{
	height: 120px;
	width: 100%;
	background:#eaeaea url(/work-3-lvYouJiTuan/images/index/header.png) no-repeat  90% 60%
	/*background-color: #eaeaea;*/
}
.ctbox{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.header .ctbox{
	height: 100%;
}
.h_logo{
	height: 80px;
	vertical-align: middle;
}
.h_title{
	display: inline-block;
	margin:0;
	line-height: 120px;
	vertical-align: middle;
	color: #3C4298;
}

/*主体*/
.main{
	width: 100%;
	position: relative;
}
.backimg{
	height: 100%;
	width: 100%;
}
.form{
	position: absolute;
	right: 50px;
	top: 50%;
	height: 300px;
	margin-top: -150px;
	padding: 10px;
	width: 300px;
	z-index: 10;
}
.f_title{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: #FFF;
	margin-bottom: 30px;
	border-bottom: 1px solid #FFF;
}
.f_back{
	position: absolute;
	right: 50px;
	top: 50%;
	height: 300px;
	margin-top: -150px;
	padding: 10px;
	width: 300px;
	background-color: #0078d7;
	z-index: 5;
	opacity: 0.5;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
.f_input{
	height: 35px;
	line-height: 35px;
	width: 100%;
	margin-top: 10px;
	color: #FFF;
}
.f_radio{
	display: inline-block;
	margin-top: 20px;
	color:#FFF;
	margin-left: 30px;
}
.m_login{
	display: inline-block;
	margin-top: 30px;
	width: 100%;
	background-color: #0078d7;
	height: 40px;
	line-height: 40px;
	border: 0;
	outline: none;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 10px;
	cursor: pointer;
}
.m_login:hover{
	background-color: #005AB9;
}
.m_login:focus{
	outline: none;
}


/*脚部*/
.footer{
	width: 100%;
	background-color: #eaeaea;
	border-top: 2px solid #CCC;
	padding-bottom: 10px;
}
.f_info{
	text-align: center;
	color: #004F8D;
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 14px;
}
