/*菜单栏*/
.headermenu{
	width: 100%;
	min-width: 1000px;
	background: #24609F;
	box-shadow: 0 1px 5px 0 #000;
	position: relative;
	z-index: 15;
}
.h_menu{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 80px;
	overflow: hidden;
}
.hm_logo{
	display: inline-block;
	vertical-align: middle;
	height: 60px;
	width: 60px;
	line-height: 80px;
}
.hm_title{
	display: inline-block;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 80px;
	margin: 0;
	vertical-align: middle;
	text-indent: 5px;
}
.hm_menu{
	margin-top: 10px;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	float: right;
}

/*主体内容*/
.main{
	min-height: 400px;
	min-width: 1000px;
	position: relative;
}

/*脚部*/
.footer{
	height: 30px;
	width: 100%;
	min-width: 1000px;
	background-color: #E9E9ED;
	border-top: 2px solid #CDCDD1;
	text-align: center;
	line-height: 30px;
	color: #004F8D;
	font-size: 14px;
	position: relative;
	z-index: 10;
}