/*通用*/
.hide{
	display: none;
}
/*信息栏*/
.headerinfo{
	width: 100%;
	min-width: 1000px;
	background-color: #343434;
}
.h_infobar{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 35px;
	line-height: 35px;
	color: #FFF;
	font-size: 14px;
	overflow: hidden;
	vertical-align: middle;
}
.hi_date{
	float: left;
}
.hid_date{
	margin-left: 10px;
}
.hi_log{
	float: right;
}
.hi_log button{
}
.hil_input{
	height: 20px;
	line-height: 20px;
	width: 100px;
	padding-left: 5px;
}
/*头部*/
.header{
	height: 120px;
	width: 100%;
	background:#eaeaea url(/work-3-lvYouJiTuan/images/index/header.png) no-repeat  90% 60%
	/*background-color: #eaeaea;*/
}
.ctbox{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.header .ctbox{
	height: 100%;
}
.h_logo{
	height: 80px;
	vertical-align: middle;
}
.h_title{
	display: inline-block;
	margin:0;
	line-height: 120px;
	vertical-align: middle;
	color: #3C4298;
}

/*脚部*/
.footer{
	width: 100%;
	background-color: #eaeaea;
	border-top: 2px solid #CCC;
	padding-bottom: 10px;
}
.f_info{
	text-align: center;
	color: #004F8D;
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 14px;
}
